@import "../variables.scss";

body {
  font-family: 'ptsans', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  background-color: $white-color;

  @media (min-width: 768px){
    width: 768px;
  }

  @media (min-width: 1200px){
    min-width: 1200px;
  }
}

@media (min-width: 1200px){
  body {
    background-color: $input-color;
  }

  .wrapper {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  }
}
