@import "../variables.scss";
@import "../mixins.scss";

.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 19px;

  &__text {
    margin: 0;
    padding-top: 3px;
    padding-right: 11px;
  }

  &__link {
    text-decoration: none;
    display: block;
  }
}

.copyright__pic {

  &:hover {
    fill: $blue-bg;
  }

  &:active {
    fill: #b2b2b2;
  }
}

@media (min-width: 768px) {

  .copyright {
    padding: 0;

    &__text {
      padding-top: 7px;
      padding-right: 14px;
    }

    &__logo {
      padding-top: 3px;
    }
  }
}

@media (min-width: 1200px) {

  .copyright {

    &__text-add {
      padding-top: 11px;
    }

    &__logo-add {
      padding-top: 7px;
    }
  }
}
