@import "../variables.scss";
@import "../mixins.scss";

.copyright {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-bottom: 19px;
}

.copyright__text {
  margin: 0;
  padding-top: 3px;
  padding-right: 11px;
}

.copyright__pic {

  &:hover {
    fill: $blue-bg;
  }

  &:active {
    fill: #b2b2b2;
  }
}

.copyright__link {
  text-decoration: none;
  display: block;
}

@media (min-width: 768px) {

  .copyright__text {
    padding-top: 7px;
    padding-right: 14px;
  }

  .copyright {
    padding: 0;
  }

  .copyright__logo {
    padding-top: 3px;
  }
}

@media (min-width: 1200px) {

  .copyright__text-add {
    padding-top: 11px;
  }

  .copyright__logo-add {
    padding-top: 7px;
  }
}
