@import "../variables.scss";
@import "../mixins.scss";

.advice-promo {
  padding-top: 33px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 35px;

  &__title {
    margin: 0;
    @include bold-titles;
    padding-bottom: 26px;
  }

  &__text {
    margin: 0;
    line-height: 24px;
    color: $grey-color;
  }
}

@media (min-width: 768px) {

  .advice-promo {
    padding-top: 54px;
    padding-left: 176px;
    padding-right: 177px;
    padding-bottom: 73px;

    &__title {
      font-size: 30px;
      padding-bottom: 31px;
    }
  }
}

@media (min-width: 1200px) {

  .advice-promo {
    padding-top: 62px;
    padding-left: 392px;
    padding-right: 393px;
    padding-bottom: 71px;
  }
}
