@import "../variables.scss";
@import "../mixins.scss";

.mobile-hidden {
  display: none;
}

.features-items {

  &__pic-img {
    vertical-align: bottom;
  }

  &__intro {
    width: 320px;
  }

  &__title {
    margin: 0;
    @include bold-titles;
  }

  &__text {
    margin: 0;
    @include features-text;
    color: $grey-color;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__number {
    margin: 0;
    line-height: 21px;
    padding-bottom: 15px;
  }

  &--blue {
    color: $white-color;
  }

  &__intro--blue {
    background-color: $blue-bg;
  }

  &__list {
    @include list;
    text-align: left;
  }

  &__icon {
    position: absolute;
    fill: $blue-bg;
  }

  &__icon--house {
    top: 26px;
    left: 21px;
    width: 39px;
    height: 37px;
  }

  &__icon--gift {
    top: 18px;
    left: 22px;
    width: 38px;
    height: 36px;
  }

  &__icon--burger {
    top: 23px;
    left: 18px;
    width: 40px;
    height: 35px;
  }

  &__text--big {
    padding-bottom: 37px;
  }

  &__logo {
    padding-left: 70px;
    position: relative;
  }

  &--grey {
    background-color: $grey-bg;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.features-items--blue .features-items {

  &__title {
    padding-top: 39px;
    padding-bottom: 9px;
  }

  &__title--padding {
    padding-top: 65px;
  }

  &__text {
    color: $white-color;
    padding-bottom: 40px;
  }
}

.features-items--blue-big {
  min-height: 164px;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    width: 320px;
    height: 37px;
    left: 0;
    top: -5px;
    background: transparent url('../img/bg-triangle.svg') no-repeat top;
  }
}

.features-items__logo .features-items {

  &__title {
    padding-top: 28px;
    padding-bottom: 14px;
  }

  &__title--big {
    padding-top: 35px;
    padding-bottom: 14px;
  }

  &__text {
    padding-left: 0;
  }
}

.features-items--grey .features-items {

  &__title {
    padding-top: 26px;
    padding-bottom: 9px;
  }

  &__text {
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 27px;
  }
}

.features-items--grey .features-items__intro {
  border-bottom: 1px solid #d6d6d6;
  width: 280px;

  &:last-child {
    border-bottom: none;
  }
}

@media (min-width: 768px) {

  .mobile-hidden {
    display: block;
  }

  .features-items {

    &__intro {
      width: 256px;
    }

    &__title {
      @include bold-text;
    }

    &--blue {
      display: flex;
      justify-content: flex-start;
    }

    &--blue-reverse {
      flex-direction: row-reverse;
    }

    &__img {
      width: 512px;
    }

    &__pic-img {
      width: 100%;
    }

    &__number {
      padding-bottom: 22px;
    }

    &__list {
      display: flex;
      justify-content: center;
      text-align: center;
    }

    &__logo--house {
      order: -2;
      min-width: 160px;
      padding-left: 48px;
      padding-right: 48px;
    }

    &__logo--burger {
      order: -1;
      min-width: 170px;
      padding-left: 43px;
      padding-right: 43px;
    }

    &__logo--gift {
      padding-left: 47px;
      padding-right: 46px;
      min-width: 163px;
    }

    &__icon--house {
      top: 60px;
      left: 90px;
      width: 75px;
      height: 72px;
    }

    &__icon--gift {
      top: 57px;
      left: 95px;
      width: 64px;
      height: 75px;
    }

    &__icon--burger {
      top: 63px;
      left: 89px;
      width: 77px;
      height: 68px;
    }

    &--grey {
      display: flex;
      justify-content: center;
    }

    &--grey {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .features-items--blue-big {
    position: static;

    &::after {
      display: none;
    }
  }

  .features-items--blue .features-items {

    &__title {
      padding-top: 46px;
      padding-left: 46px;
      padding-right: 46px;
    }

    &__title--padding {
      padding-top: 45px;
    }

    &__text {
      padding-bottom: 39px;
      padding-left: 44px;
      padding-right: 44px;
    }
  }

  .features-items__logo .features-items {

    &__title {
      padding-top: 159px;
      padding-bottom: 21px;
    }

    &__text {
      padding-right: 0;
      padding-bottom: 61px;
    }
  }

  .features-items--list .features-items__intro {
    width: 768px;
  }

  .features-items--grey .features-items {

    &__intro {
      border: none;
      padding-left: 50px;
      padding-right: 50px;
      min-width: 156px;
    }

    &__title {
      padding-top: 45px;
    }

    &__text {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: 44px;
    }

    &__intro--padding {
      padding-left: 61px;
      padding-right: 63px;
      min-width: 132px;
    }
  }
}

@media (min-width: 1200px) {

  .features-items {

    &__intro {
      width: 400px;
    }

    &__img {
      width: 800px;
      height: 256px;
      overflow: hidden;
    }

    &__pic-img {
      margin-top: -75px;
    }

    &__logo--house {
      min-width: 252px;
      padding-left: 73px;
      padding-right: 75px;
    }

    &__logo--burger {
      min-width: 300px;
      padding-left: 50px;
      padding-right: 50px;
    }

    &__logo--gift {
      min-width: 214px;
      padding-left: 93px;
      padding-right: 93px;
    }

    &__icon--house {
      left: 161px;
    }

    &__icon--gift {
      left: 167px;
    }

    &__icon--burger {
      left: 161px;
    }
  }

  .features-items--blue .features-items {

    &__title {
      padding-top: 53px;
      padding-left: 121px;
      padding-right: 120px;
    }

    &__title--padding {
      padding-top: 53px;
      padding-left: 135px;
      padding-right: 139px;
    }

    &__text {
      padding-bottom: 53px;
      padding-left: 68px;
      padding-right: 67px;
    }

    &__text--padding {
      padding-left: 91px;
      padding-right: 90px;
    }
  }

  .features-items--list .features-items__intro {
    width: 1200px;
  }

  .features-items__logo .features-items {

    &__title {
      padding-bottom: 22px;
    }

    &__text {
      padding-bottom: 81px;
    }
  }

  .features-items--grey .features-items {

    &__intro {
      padding-left: 70px;
      padding-right: 70px;
      min-width: 260px;
    }

    &__text {
      padding-bottom: 65px;
    }

    &__title {
      padding-left: 70px;
      padding-right: 70px;
    }
  }
}
