@import "../variables.scss";
@import "../mixins.scss";

.gallery-promo {
  padding-top: 31px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 27px;
}

.gallery-promo__title {
  margin: 0;
  @include bold-titles;
  padding-top: 6px;
  padding-bottom: 26px;
}

.gallery-promo__text {
  margin: 0;
  line-height: 24px;
  color: $grey-color;
}

@media (min-width: 768px) {

  .gallery-promo {
    padding-top: 69px;
    padding-left: 169px;
    padding-right: 170px;
    padding-bottom: 31px;
  }

  .gallery-promo__title {
    font-size: 30px;
    padding-bottom: 30px;
  }
}

@media (min-width: 1200px) {

  .gallery-promo {
    padding-top: 100px;
    padding-left: 385px;
    padding-right: 386px;
    padding-bottom: 71px;
  }

  .gallery-promo__title {
    padding-top: 11px;
    padding-bottom: 31px;
  }
}
