@import "../variables.scss";

.main-header {
  background-color: $white-color;
}

.main-header__elements {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  min-height: 56px;
  position: relative;
}

@media (min-width: 768px) {

  .main-header__elements {
    min-height: 0;
  }
}
