@import "../variables.scss";
@import "../mixins.scss";

.photo-likes {

  &__like {
    outline: none;
    border: none;
    background-color: transparent;
    padding-bottom: 3px;
  }

  &__like-pic {
    fill: #b2b2b2;
  }

  &__amount {
    @include photo-titles;
  }
}

@media (min-width: 768px) {

  .photo-likes {
    padding-right: 29px;

    &__like {
      padding-bottom: 8px;
    }

    &--big {
      padding-right: 20px;
    }

    &__like-pic {
      fill: #a9a9a9;
    }

    &__like-pic--dark {
      fill: #a3a3a3;
    }
  }
}

@media (min-width: 1200px) {

  .photo-likes__like-pic {
    fill: $white-color;
  }
}
