@import "../variables.scss";
@import "../mixins.scss";

.social {
  @include list;
  padding-bottom: 40px;


  &__links {
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
  }

  &__links:last-child {
    margin-right: 0;
  }

  &__icon--tw {
    margin-top: 17px;
  }

  &__icon--fb {
    margin-top: 14px;
  }

  &__icon--yt {
    margin-top: 17px;
  }
}

.social__link {
  text-decoration: none;
  display: block;
  color: $white-color;
  background-color: $blue-bg;
  width: 47px;
  height: 48px;
  fill: $white-color;
  vertical-align: middle;

  &:hover {
    background-color: #669ec0;
  }

  &:active {
    background-color: #5496bd;
    fill: rgba(255, 255, 255, 0.3);
  }
}

@media (min-width: 768px) {

  .social {
    padding: 0;
    margin-right: 119px;
  }
}

@media (min-width: 1200px) {

  .social {
    margin-right: 351px;
  }
}
