@import "../variables.scss";
@import "../mixins.scss";

.success-popup {
  width: 320px;
  padding-top: 36px;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.15);
  background-color: $white-color;
  position: fixed;
  margin-top: -162px;
  top: 50%;
  left: 0;
  z-index: 5;
  display: none;


  &__title {
    @include bold-titles;
    margin: 0;
  }

  &__text {
    color: $grey-color;
    line-height: 24px;
    margin: 0;
    padding-top: 13px;
    padding-left: 52px;
    padding-right: 54px;
    padding-bottom: 27px;
  }

  &__btn--grey {
    background-color: $input-color;
    padding: 20px;
  }
}

@media (min-width: 768px) {

  .success-popup {
    width: 640px;
    margin-top: -174px;
    margin-left: -320px;
    padding-top: 51px;
    left: 50%;

    &__title {
      font-size: 30px;
    }

    &__text {
      padding-top: 14px;
      padding-bottom: 29px;
      padding-right: 112px;
      padding-left: 114px;
    }

    &__btn--grey {
      padding: 44px 91px;
    }
  }
}

@media (min-width: 1200px) {

  .success-popup {
    width: 640px;
    padding-top: 51px;
  }
}
