@import "../variables.scss";
@import "../mixins.scss";

.video {
  padding-bottom: 52px;

  &__screen {
    min-width: 320px;
    min-height: 201px;
  }

  &__screen-img {
    min-width: 320px;
    min-height: 201px;
  }

  &__screen-photo {
    vertical-align: bottom;
  }

  &__controls-all {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: $input-color;
    padding-top: 14px;
    padding-right: 23px;
    padding-bottom: 8px;
    min-width: 257px;
    text-align: right;
    min-height: 43px;
    margin-left: 20px;
    margin-right: 20px;
  }

  &__controls {
    outline: none;
    border: none;
    background-color: transparent;
    padding: 0;
  }
}

.video__screen-range {
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: -45px;
  left: 0;
  z-index: 1;

  &::before {
    content: '';
    width: 1px;
    height: 1px;
    background-color: $white-color;
    border: 4px solid $white-color;
    border-radius: 50%;
    position: absolute;
    top: 19px;
    left: 58px;
    z-index: 3;
  }

  &::after {
    content: '';
    height: 3px;
    width: 235px;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 22px;
    left: 22px;
    z-index: 2;
  }
}

.video__controls--replay {
  fill: #5c6870;

  &:hover {
    fill: $grey-color;
  }

  &:active {
    fill: #c1c1c1;
  }
}

.video__controls--fullscreen {
  margin-left: 31px;
  fill: #5c6870;

  &:hover {
    fill: $grey-color;
  }

  &:active {
    fill: #c1c1c1;
  }
}

.video__controls--subtitles {
  margin-left: 133px;
  fill: #5c6870;

  &:hover {
    fill: $grey-color;
  }

  &:active {
    fill: #c1c1c1;
  }
}

@media (min-width: 768px) {

  .video {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 28px;
    position: relative;

    &__screen {
      min-width: 648px;
      min-height: 499px;
    }

    &__screen-img {
      min-width: 648px;
      min-height: 499px;
    }

    &__controls-all {
      min-width: 607px;
      min-height: 57px;
      margin: 0;
      background-color: rgba(0, 0, 0, 0.6);
      position: absolute;
      top: 406px;
      left: 60px;
      padding-top: 22px;
      padding-right: 41px;
      padding-bottom: 15px;
    }

    &__controls--subtitles {
      margin-left: 42px;
      fill: $white-color;
    }

    &__controls--replay {
      fill: $white-color;
    }

    &__controls--fullscreen {
      fill: $white-color;
    }
  }

  .video__screen-range {
    width: 389px;
    height: 30px;
    background-color: transparent;
    position: relative;
    top: -4px;
    margin-left: 42px;

    &::before {
      top: 11px;
      left: 113px;
    }

    &::after {
      width: 389px;
      top: 14px;
      left: 0;
    }
  }
}

@media (min-width: 1200px) {

  .video {
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 85px;

    &__screen {
      min-width: 800px;
      min-height: 500px;
    }

    &__screen-img {
      min-width: 800px;
      min-height: 500px;
    }

    &__controls-all {
      min-width: 757px;
      left: 200px;
      padding-right: 43px;
    }

    &__controls--subtitles {
      margin-left: 41px;
    }
  }

  .video__screen-range {
    width: 540px;
    margin-left: 43px;

    &::before {
      top: 11px;
      left: 112px;
    }

    &::after {
      width: 540px;
    }
  }
}
